
.trackPageBpx {
    display: flex;
    flex-direction: column;
    margin: auto;

}

.trackBox {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    /*max-width: 800px;*/
    align-self: center;
}

.colorCheck {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.colorCh {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    margin-left: 20px;
    width: 100px;
    align-items: center;
}

.colorName {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

.dayName {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-left: 30px;
    justify-self: end;
    width: 130px;
}

.btnColor {
    width: 200px;
    margin-top: 55px;
    justify-self: end;
    display: inline-block;
    padding: .75rem 1.25rem;
    font-family: Roboto, sans-serif;
    /*border-radius: 10rem;*/
    color: #041e25;
    text-align: center;
    text-transform: uppercase;
    font-size: .5rem;
    font-weight: bold;
    letter-spacing: .10rem;
    align-self: flex-end;
}

.weekBox {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
}

.pageTitle {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    margin: 40px;
    border: 0.5px solid black;
    padding: 10px;
}