.homeBox {
    display: flex;
    flex-direction: column;
    margin: auto;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

img:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.colorsBox {
    display: flex;
    flex-direction: row;
    margin: 40px auto auto;
}

.prodsBox {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(5, 300px);
    /*grid-column-gap: 5px;*/
    /*grid-row-gap: 10px;*/
    margin: auto;
}
.colLink{
    margin-left: 10px;
    text-decoration: none;
    font-weight: normal;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

.prodImage {
    height: 200px;
    width: 150px;
    transition: none;
    border-radius: 10%;
}

.itemBox {
    max-height: 350px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prodBtn {
    cursor: pointer;
    display: inline-block;
    padding: .75rem 1.25rem;
    font-family: Roboto, sans-serif;
    border-radius: 10rem;
    color: #041e25;
    text-transform: uppercase;
    font-size: .5rem;
    font-weight: bold;
    letter-spacing: .10rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin-top: 5px;
    margin-right: 10px;
}

.prodTitle {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

.listOfBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 20px;
}

.colorBtn {
    cursor: pointer;
    margin-left: 5px;
    display: inline-block;
    padding: .75rem 1.25rem;
    font-family: Roboto, sans-serif;
    border-radius: 10rem;
    color: #041e25;
    text-align: center;
    text-transform: uppercase;
    font-size: .5rem;
    font-weight: bold;
    letter-spacing: .10rem;
}


.colorBtnBox {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 20px;
}

/*colorLink {*/
/*    font-family: Roboto, sans-serif;*/
/*    font-size: 16px;*/
/*    text-transform: uppercase;*/
/*    background-color: #daefef;*/
/*    margin: auto;*/
/*}*/