.mainBox {
    /*background-image: url(./image/cover.png);*/
    /*background-color: #657c56;*/
    background-color: rgb(198, 245, 201);;
    background-size: cover;
    background-position: center;
    background-position-y: 120%;
    min-height: 100vh;
    margin: 0;

}